.navbar{
    background-color:#3e3c3c;
}
.nav-item > .nav-link,
.navbar-brand {
    color: #fefefe;
}
.intro-row{
    background-image: url(assets/Illustration-header.png);
    background-repeat: no-repeat;
    background-position: top right;
    background-size: contain;
    background-color: #1c1a19;
}

.intro{
    padding: 192px 0px;
    gap: 24px;
}

.abt-container{
    background-image: url(assets/about-me-desktop.png);
    background-repeat: no-repeat;
    background-position: top right;
    background-size: contain;
    background-size: 40%;
    background-position-y: 100px;
}
.abt-cont{
    padding: 192px 0;
}
